.nav-tabs.nav-justified > .active2 > a,
.nav-tabs.nav-justified > .active2 > a:hover,
.nav-tabs.nav-justified > .active2 > a:focus {
    background-color: #eee;
}

.phone_design_container {
    display: -webkit-box;
    display: -webkit-flex;

    display: -moz-box;
    display: -moz-flex;

    display: -ms-flexbox;

    display: flex;

    /* 垂直居中 */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack:center;/* IE 10 */

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.block {
    display: block;
}

.f-left {
    float: left;
}

.table {
    display: table;
}

.f-widht {
    width: 100%;
}

.f-height {
    height: 100%;
}

.featured-phone-list > li {
    width: 33.33333%;
    height: 120px;
}

.border-right {
    border-right: solid 1px rgba(0,0,0,0.1);
}

.border-bottom {
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

.hide {
    display: none;
}