.box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
}

.test {
    position: absolute;
    top: 0px;
    left: 0px;
}

#canvas_img {
    position: relative;
    top: 0px;
    left: 0px;
}

#raw_img_div {
    display: none;
    border: 1px solid #000;
}

.border {
    border: 1px solid #000;
}